@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,900;1,800&display=swap');

body{
    font-family: 'Poppins', sans-serif;;
    padding: 0;
    margin: 0;
}

h1{
    color: green;
}


.box1, h1{
    background-color: red;
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    color:white;
    padding: 10px;
    margin: 10px;
    font-size: 30px; 
    font-weight: 800;
}

.box1:hover{
    background-color: green;
    color: red;
}

ul li.product{
    color: green;
}